@import "tailwindcss";

:root {
  --site-bg: #171717;
  --site-text: #fdf0ff;
}

@font-face {
  font-family: Trajan;
  src: url("../public/TrajanPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Verve;
  src: url("../public/Verve.ttf") format("truetype");
}

@font-face {
  font-family: Moondance;
  src: url("../public/Moondance.otf") format("opentype");
}

@font-face {
  font-family: Heroeau;
  src: url("../public/HEROEAU\ ELEGANT\ DEMO.ttf") format("opentype");
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--site-bg);
  color: var(--site-text);
  overflow-y: auto;
  scrollbar-gutter: stable both-edges;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Custom colors */
  --color-pink-cstm: #ff64f5;
  --color-cyan-cstm: #00e1ff;
}

.glow-pink:hover {
  filter: drop-shadow(0 0 4px var(--color-pink-cstm));
}

.glow-cyan:hover {
  filter: drop-shadow(0 0 4px var(--color-cyan-cstm));
}

@keyframes my-shimmer {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.shimmer-border:hover {
  background: linear-gradient(
    65deg,
    var(--color-pink-cstm),
    var(--color-cyan-cstm),
    var(--site-text),
    var(--color-cyan-cstm),
    var(--color-pink-cstm)
  );
  background-size: 400% auto;
  animation: my-shimmer 6s linear infinite alternate;
}

.shimmer-text:hover {
  color: transparent;
  background-image: linear-gradient(
    65deg,
    var(--color-pink-cstm),
    var(--color-cyan-cstm),
    var(--site-text),
    var(--color-cyan-cstm),
    var(--color-pink-cstm)
  );
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  animation: my-shimmer 6s linear infinite alternate;
}

.glow-pink:hover {
  filter: drop-shadow(0 0 4px #ff8df7) drop-shadow(0 0 4px #ff8df7);
}

.glow-cyan:hover {
  filter: drop-shadow(0 0 4px #77eaf9) drop-shadow(0 0 4px #77eaf9);
}

/* Reference Only */
color picker {
  background-color: #7eb6d6;
  color: #ff8df7;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
